<section>
  <article class="introduction">
    <h3>So I wanted to start a code club</h3>
  </article>
</section>

<section>
  <article class="faq">
    <h1>FAQs</h1>
    <% @faqs.each do |faq| %>
      <%= faq.question %>
    <% end %>
  </article>

  <article class="code-base">
    <h1>Code Bases</h1>
    <% @code_bases.each do |code_base| %>
      <%= code_base.name %>
      <%= code_base.language.name %>
      <%= code_base.loc.range %>
    <% end %>
  </article>
</section>