<section>
  <article class="introduction">
    <h3>I wanted to me be this chic, a clear programming master.</h3>
    <h3>Look at that cape! She obviously knows what she's doing.</h3>
    <h3>So when I asked other developers how to get from novice to programming badass, the most common answer I got was " READ CODE.</h3>
    <h3>So I started a #CodeClub</h3>
    <h3 class="questions">What's a #CodeClub?</h3>
    <h3>A #CodeClub is like a Book Club, but you read code instead. You can do it remotely (we do it via. Google Hangout), or in person.</h3>
    <h3 class="questions">What's a #CodeClub?</h3>
  </article>
</section>

<section>
  <article class="faq">
    <h1>#CodeClub Resources</h1>
    <% @faqs.each do |faq| %>
      <%= faq.question %>
    <% end %>
  </article>

  <article class="code-base">
    <h1>Code Bases</h1>
    <% @code_bases.each do |code_base| %>
      <%= code_base.name %>
      <%= code_base.language.name %>
      <%= code_base.loc.range %>
    <% end %>
  </article>
</section>