<div id="homepage">
  <section class="introduction-background">
    <div class="cartoon"></div>
    <article class="introduction">
      <h3>I wanna be a programming master.<br>
      Like this chic.<br>
      Look at that cape.<br>
      She clearly knows what she's doing.<br>
      So I asked experienced developers how I can get from novice<br> to programming badass.<br>
      And the most common answer I got was, "Read code".<br>
      So I started a Code Club.</h3>
    </article>
  </section>

  <section id="anchor-faqs">
    <article id="faqs">
      <h1>FAQS</h1>
      <h3 class="questions">What's a Code Club?</h3>
      <h3 class="answers">It's like a Book Club, but you read code instead. You can do it remotely (we do it via Google Hangout), or in person. We meet every Sunday at 11AM for one hour of reading.</h3>

      <h3 class="questions">How do I start my own Code Club?</h3>
      <h3 class="answers"> Great question! First, find some developers to read with. I find it helpful to read with people around my skill level and to keep the group small, about 3 - 5 people. Need help connecting with people? Give a shout <a href="http://twitter.com/readingcodegood">@readingcodegood.</a></h3>

      <h3 class="questions">Where can I find people to start a Code Club with?</h3>
      <h3 class="answers">A great place to start is by asking around at local <a href="http://www.meetup.com">meetups</a> in your area. Organizations focused on learning to program, like <a href="http://codecrew.co" target="_blank">Code Crew</a>, <a href="http://hackerhours.org" target="_blank">Hacker Hours</a> and <a href="http://railsbridge.org"  target="_blank">RailsBridge</a> are also great places to start. If you or your organization are looking to start a Code Club of your own, let us know at <a href="http://twitter.com/readingcodegood">@readingcodegood</a>.</h3>

      <h3 class="questions">What code should I read?</h3>
      <h3 class="answers">For our group, a code base of about 100 lines (not including gemfiles, config files, specs, etc.) works really well. Any larger, and it becomes too much to get through in an hour. Try a few different sizes in the language you prefer, and see what works for you. To get started, check out the list of <a href="#code-base">Code Bases</a> below. And if you find a different you like, tweet me the link and I'll post it here.</h3>

      <h3 class="questions">But how do I read it? Should I just read it straight through?</h3>
      <h3 class="answers">We try to find the main part of the code where most of the action seems to be going on, code usually found in the 'lib' directory, and we read it straight through, generally going line by line. Along the way, we stop a ton for questions, some google searching, discussing things we haven't seen before, calling out patterns we recognize, and testing out new methods as we come across them. And it's in these conversations that the learning really happens.</br></br>
      A different strategy is to start with the specs and find the corresponding code that's being tested. Another is to start with the documentation, and try to find and understand how specific methods work. At the end of the day, these are all just starting points for the real value of Code Club -- the learning that happens in the discussion of the code.</h3>

      <h3 class="questions">How can I get the most out of Code Club? Any guidelines?</h3>
      <h3 class="answers">These are great questions you're asking. I'm truly impressed by your inquisitive nature. Here are some guidelines we've used to have some really productive reading sessions.
        <ol>
          <li><strong>Be consistent.</strong> For us that means every week, for just one hour.</li>
          <li><strong>Pick a tour guide.</strong> It really helps to have someone leading the session. It doesn't mean they're the expert or that they have all the answers. But having a single person to kick things off, make sure everyone's on the same page, and keep the conversation going is really helpful.</li>
          <li><strong>Don't be afraid to digress.</strong> Ask lots of questions (How does this method work? Why's that variable called that? What's this module doing here?) and look up the stuff you don't understand along the way. And when you come across something you've never seen before, write some of that code yourself and see what it does! That's the fun part. </li>
          <li><strong>It's a team effort.</strong> Everyone should feel comfortable stopping the group, asking questions, and exploring. Having a small group of people (3 - 5) helps make sure everyone's engaged and learning.</li>
          <li><strong>The code doesn't have to be good.</strong> We learn a ton from poorly written code. And it's a great opportunity to try and rewrite some of it to make it better. And maybe even make a pull request *gasp*.</li>
          <li><strong>Interact with the code.</strong> Reading code is not a passive activity. The literal reading doesn't cut it. Asking questions like "What's the intent of this method?", "Why was it written this way?", and "How does this fit into the overall style and structure of the code base?" are some great starters to making your Code Club session productive and interactive.</li>
          <li><strong>Find knowledge gaps.</strong> Code Club is a great way to find gaps in your own programming knowledge, whether the gap is in how a method works, a design pattern, or some higher level programming concept. Use your code reading as a place to find and fill those gaps with your group.</li>
        </ol>
      </h3>

      <h3 class="questions">This is great, but I have more questions about reading code. What do I do?</h3>
      <h3 class="answer">No problem! Tweet me either at <a href="http://twitter.com/saronyitbarek" target="_blank">@saronyitbarek</a> or <a href="http://twitter.com/readingcodegood">@readingcodegood</a> and ask away. Till then, happy reading :) </h3>
    </article>
  </section>  

  <section id="anchor-resources">
    <article id="resources">
      <h1>Resources</h1>
      <ul>
        <li><a href="http://www.slideshare.net/saronyitbarek/reading-code-good" target="_blank">Slides From the RailsConf Talk</a></li>
        <li><a href="http://www.sitepoint.com/reading-ruby-professional-development/" target="_blank">Reading Ruby for Professional Development</a></li>
        <li><a href="http://www.gigamonkeys.com/code-reading/" target="_blank">Code Is Not Literature</a></li>
        <li><a href="https://speakerdeck.com/xunker/on-punchlines-and-silly-hacks-array-subindex-railsconf-2014" target="_blank">On Punchlines and Silly Hacks</a></li>

      </ul>
    </article>
    <div id="anchor-codebases"></div>
    <article id="codebases">
      <h1>Code Bases</h1>
      <table>
        <% @code_bases.each do |code_base| %>
        <tr>
          <td><%=link_to code_base.name, code_base.link %></td>
          <td><%= code_base.language.name %></td>
          <td><%= code_base.loc.range %> lines</td>
        </tr>
       <% end %>
      </table>
      <p>Got a codebase to add? <%= mail_to "readingcodegood@gmail.com", "Email us!", target: "_blank" %></p>
    </article>
  </section>

  <section id="anchor-about">
    <article id="about">
      <h1>About</h1>
      <h3> Looking to start a #CodeClub? Have a good code base you want to post here? Tell me about it! <a href="http://twitter.com/readingcodegood">@readingcodegood</a></h3>
    </article>
  </section>
</div>