h1, h2, h3 {
  font-family: "Helvetica", "sans-serif";
}

a {
  text-decoration: none;
}

body {
  @include outer-container;
}

section {
  @include outer-container;
  margin-bottom: 15px;
  margin-top: 15px;
}

.introduction {
  @include span-columns(12);
}

article {
  @include span-columns(6);
  background: pink;
}

header {
  background: yellow;
  padding-top: 50px;

  h1 {
    font-family: "Cabin Sketch", "sans-serif";
    text-align: center;
    font-size: 5em;
    margin: 0;
  }
}

nav {
  background: yellow;
  width: 99%;
  margin: 0 auto;
}

nav ul {
  background: green;
  text-align: center;
}

nav ul li {
  display: inline;
  background: yellow;
}

nav ul li a {
  color: black;
  text-decoration: none;
  background: pink;
  margin: 0 8px;
}