section {
  article#resources {
    @include grid-column(6);
    border-right: 1px solid $light-gray;
  }
  article#codebases {
    @include grid-column(6);
  }
}

#homepage li:before {
  font-size: 35px;
  line-height: 50px;
  margin-left: -60px;
  width: 50px;
}

#homepage {
  li {
    margin-left: 45px;
  }

  h3, li  {
    font-size: 25px;
  }

  td {
    font-size: 25px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
    @include grid-column(6);
    padding-top: 28px;
  }

  .intro {
    padding-top: 30px;
    p {
      font-size: 20px;
      line-height: 20px;
      color: $brown;
    }
  }

  section.introduction-background {
    .intro-row {
      @include grid-row;

    }
    max-width: none;
    article {
      @include grid-column(6);
    }
  }
} 
