<div id="nav">
  <div class="sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="<%= root_path %>">Reading Code Good</a></h1>
          <li class="toggle-topbar menu-icon"><span></span></li>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#anchor-faqs" class="js-faqs-nav">FAQs</a></li>
          <li><a href="#anchor-resources" class="js-resources-nav">Resources</a></li>
          <li><a href="#anchor-codebases" class="js-codebases-nav">Code Bases</a></li>
          <li><a href="#anchor-about" class="js-about-nav">About</a></li>
        </ul>
      </section>
    </nav>
  </div>
</div>