<nav>
  <ul>
    <li><a href="http://twitter.com/readingcodegood">@readingcodegood</a></li>
    <li><%=link_to "FAQs", faqs_path %></li>
    <li><%=link_to "Code Bases", code_bases_path %></li>
  </ul>

</nav>
